.title,
p {
  margin: 20px;
}

label {
  margin: 0 0 0 20px;
}

.category-select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  font-size: 0.95rem;
  width: 20%;
}

.catalog-search {
  width: 100%;
  max-width: 400px;
  margin: 0 0 20px 20px;
}

.catalog-search input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.catalog-search input:focus {
  border-color: #e91e63;
  box-shadow: 0 0 6px rgba(233, 30, 99, 0.3);
}


.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
  padding: 50px;
}

.catalog-card {
  background: #ffc0cb;
  /* light pink */
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.catalog-card img {
  width: 100%;
  max-height: 300px;
  background: #fff;
  object-fit: contain;
  width: 220px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.catalog-card h3 {
  font-size: 1rem;
  color: #c2185b;
  /* darker pink */
  margin: 5px 0;
}

.catalog-card p {
  font-size: 0.9rem;
  color: #6d0037;
  margin-bottom: 10px;
}

.add-to-cart {
  background: #ff5ebc;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 28px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.add-to-cart:hover {
  background: deeppink;
}

@media (max-width: 1024px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    gap: 20px;
  }

  .catalog-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }

  .catalog-card img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
}